<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoreay.ares.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.yoreay.ares.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="isDeleted" jdbcType="BIT" property="isDeleted" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="deptId" jdbcType="BIGINT" property="deptId" />
  </resultMap>
  <insert id="insert" parameterType="com.yoreay.ares.entity.User">
    insert into user (id, created, modified, 
      isDeleted, username, password, 
      deptId)
    values (#{id,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yoreay.ares.entity.User">
    update user
    set created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      isDeleted = #{isDeleted,jdbcType=BIT},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      deptId = #{deptId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, created, modified, isDeleted, username, password, deptId
    from user
  </select>
</mapper>